.banner {
    background: linear-gradient(175deg, #537eae, #c5acaf, #dba47d);
    background-size: 600% 600%;
    background-position: 100% 0%;
    transition: background-position 7s ease-in 0.5s;
    -webkit-transition: background-position 7s ease-in 0.5s;
    padding-top: 10%;
    text-align: center;
}

.banner:hover {
  background-position: 59% 100%;
}

.page {
    min-height: 100%;
    min-width: 100%;
    width: 100%;
    width: 100vw;
    position: relative;
    box-sizing: border-box;
}

.summary {
	width: 435px;
	text-align: justify;
	margin: 0 auto 20px;
	color: #fff;
}

.summary h3 {
  text-align: center;
  padding: 10px 0 0;
}

.summary h2 {
  border-top:1px solid #fff;
  border-bottom: 1px solid #fff;
  padding: 10px 0;
  text-align: center;
}

.arrow {
    display: inline-block;
    width: 40px;
    margin: 0 auto;
    background: url(../assets/arrow_down.png) center center no-repeat;
    background-size: 40px;
    padding-top: 50px;
    -webkit-animation: bob 1s ease infinite;
    -moz-animation: bob 1s ease infinite;
    animation: bob 1s ease infinite;
  }

  @-webkit-keyframes bob {
      0%{margin: 3px 0 3px 0;}
      50%{margin: 0 0 6px 0;}
      100%{margin: 3px 0 3px 0;}
  }

  @-moz-keyframes bob {
      0%{margin: 3px 0 3px 0;}
      50%{margin: 0 0 6px 0;}
      100%{margin: 3px 0 3px 0;}
  }
  
  @keyframes bob { 
      0%{margin: 3px 0 3px 0;}
      50%{margin: 0 0 6px 0;}
      100%{margin: 3px 0 3px 0;}
  }

  .arrow:hover {
    cursor: pointer;
    background: url(../assets/arrow_down_alt.png) center center no-repeat;
    background-size: 40px;
  }
  
.icon {
	margin: 15px 0 0;
}

.bikeframe {
	width: auto;
  margin: 0 auto;
  background: url(../assets/bikeframe.png) center center no-repeat;
  background-size: 50px;
  padding-top: 75px;
}

.bikewheels {
	width: 100%;
	display: inline-block;
	padding-bottom: 9px;
}

.right-wh {
    margin: -63px 48px 0 0;
    padding-bottom: 63px;
}

.left-wh {
    margin: -63px 0 0 48px;
    padding-bottom: 63px;
}

.wheel {
	width: auto;
  background: url(../assets/bike_wh.png) center center no-repeat;
  background-size: 25px;
  -webkit-animation: spin 5s linear infinite;
  -moz-animation: spin 5s linear infinite;
  animation: spin 5s linear infinite;
}

	@-webkit-keyframes spin {
	    from{-webkit-transform:rotate(0deg);}
	    to{-webkit-transform:rotate(360deg);}
	}
	@-moz-keyframes spin {
	    from{-moz-transform:rotate(0deg);}
	    to{-moz-transform:rotate(360deg);}
	}
	@-ms-keyframes spin {
	    from{-ms-transform:rotate(0deg);}
	    to{-ms-transform:rotate(360deg);}
	}

.content {
    box-sizing: border-box;
	  text-align: justify;
}

.page.about .content {
	width: 95%;
	margin: 0 auto;
  padding: 0 0 25px;
}

@media (max-width:500px) {
	.summary {
		width: 80%;
	}
}

.droppin {
	display: inline-block;
	vertical-align: middle;
	width: 15px;
	padding: 0 7px;
}
